body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #64e5fcc5;
}

.table-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e6e0e0;
    border-radius: 8px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.658); 
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}
